{% for site, attributes in remap.iteritems() %}
{% if "direct_origin" in attributes and attributes["direct_origin"] -%}
domain={{attributes["origin"]}} parent="localhost:8000"
{% endif -%}
{% endfor %}
