{% if remap[item.key]["network"] == network %}
regex_map    http://^(www\.)?{{item.key}}$/         http://localhost:{{ bundlemanager_port }}/
{% if remap[item.key]["https"] %}
regex_map    https://^(www\.)?{{item.key}}$/         http://localhost:{{ bundlemanager_port }}/
{% endif %}
{% endif %}
