{% for site, attributes in remap.iteritems() %}
{% if attributes["network"] == network %}
regex_map    http://^(www\.)?{{site}}$/         http://{{attributes["hidden"]}}.origin.{{attributes["network"]}}/
regex_map    http://{{attributes["hidden"]}}.{{site}}$/         http://{{attributes["hidden"]}}.origin.nocache.{{attributes["network"]}}/
{% if attributes["https"] %}
regex_map    https://^(www\.)?{{site}}$/         http://{{attributes["hidden"]}}.{{attributes["network"]}}/
regex_map    https://{{attributes["hidden"]}}.{{site}}$/         http://{{attributes["hidden"]}}.{{attributes["network"]}}/
{% endif %}
{% endif %}

{% endfor %}
