---
general:
  url_salt: {{ bundlehash_salt }}
  port: {{ bundlemanager_port }}
  host: 127.0.0.1
  refresh_period: 1800
  pidfile: /var/run/bundlemanager/bundlemanager.pid
  uid_name: nobody
  gid_name: nogroup
  bundler_location: http://127.0.0.1:{{bundler_port}}
  wsgi_port: 8000

v_edges:
{% for vedge, attributes in vedges.iteritems() %}
  http://{{vedge}}:{{attributes["port"]}}:
    availability:
      start: {{attributes["availability"]["start"]}}
      end: {{attributes["availability"]["end"]}}
    total_bandwidth: 100
{% endfor %}

remap:
{% for site, attributes in remap.iteritems() %}
{% set origin = attributes["origin"] -%}
{% if "site_as_origin" in attributes and attributes["site_as_origin"] -%}
{% set site = origin -%}
{% endif %}
   {{site}}:
     origin: {{origin}}
   www.{{site}}:
     origin: {{origin}}
{% endfor %}
