Source: bundlemanager
Section: python
Priority: optional
Maintainer: Distributed Deflect Packaging <sysops@equalit.ie>
Build-Depends:
        debhelper,
        python-support
Standards-Version: 3.9.1

Package: bundlemanager
Architecture: all
Depends:
         python-requests,
         python-flask,
         python-yaml,
         python-redis,
         python-crypto,
         python-jinja2
Description: Manages creation (via the Bundler service), storage and
 returning of bundle objects for the Distributed Deflect project.
